config SHIELD_ORBAYU_LEFT
    def_bool $(shields_list_contains,orbayu_left)

config SHIELD_ORBAYU_RIGHT
    def_bool $(shields_list_contains,orbayu_right)

config SHIELD_ORBAYU_DONGLE
    def_bool $(shields_list_contains,orbayu_dongle)
